<div class="v-dialog">
  <div class="dialog-content">
    <i class="close-btn js-close-dialog"></i>
    <h3>绑定手机保护账号</h3>
    <div class="input-wrapper img-input">
        <input class="js-input-img" placeholder="请输入图形验证码" type="number">
        <img class="js-img-code" src="/src/img/default-img.png" alt="图片验证码">
      </div>
    <div class="input-wrapper phone-input">
      <input class="js-input-phone" placeholder="请输入手机号码" type="number">
      <a href="javascript:;" class="sms-btn js-send-sms">发送验证码</a>
    </div>
    <div class="input-wrapper sms-input">
        <input class="js-input-sms" placeholder="请输入短信验证码" type="number">          
    </div>
    <div class="btn-wrapper">
      <a href="javascript:;" class="btn bind-btn js-bind">立即绑定</a>
    </div>
  </div>
</div>
